In [2]:
import pandas as pd
import numpy as np

In [16]:
WD = pd.read_csv('Final_Wind_Direction_Europe_0.3x0.3_daily.csv', sep=";")
WD

         lat   lon             validdate  wind_dir_100m:d
0       26.0 -15.0  2023-03-17T12:00:00Z             34.0
1       26.0 -15.0  2023-03-18T12:00:00Z             42.6
2       26.0 -15.0  2023-03-19T12:00:00Z             40.5
3       26.0 -15.0  2023-03-20T12:00:00Z             35.2
4       26.0 -15.0  2023-03-21T12:00:00Z             41.8
...      ...   ...                   ...              ...
167329  75.8  34.8  2023-03-18T12:00:00Z            260.7
167330  75.8  34.8  2023-03-19T12:00:00Z            224.4
167331  75.8  34.8  2023-03-20T12:00:00Z            205.9
167332  75.8  34.8  2023-03-21T12:00:00Z             98.4
167333  75.8  34.8  2023-03-22T12:00:00Z            152.7

[167334 rows x 4 columns]

In [21]:

# Rename the columns
WD.columns = ["Lat", "Lon", "Date", "wind_dir_100m:d"]

# Convert the "validdate" column to a datetime type
WD["Date"] = pd.to_datetime(WD["Date"])

# Sort the DataFrame by the "Date" column in ascending order
WD.sort_values(by="Date", inplace=True)

# Reset the index
WD.reset_index(drop=True, inplace=True)

WD.rename(columns={'wind_dir_100m:d':'Wind Direction (°)'})

# Format the "Date" column as a string with the desired format
#WD["Date"] = WD["Date"].dt.strftime("%Y-%m-%d %H:%M:%S")

# Remove everything after the "+"
#WD["Date"] = WD["Date"].str.slice(stop=-6)

WD

         Lat   Lon                Date  wind_dir_100m:d
0       26.0 -15.0 2023-03-17 12:00:00             34.0
1       37.1  -6.9 2023-03-17 12:00:00            261.1
2       61.1   6.9 2023-03-17 12:00:00             61.5
3       32.6  24.6 2023-03-17 12:00:00            312.7
4       61.1   7.2 2023-03-17 12:00:00             86.5
...      ...   ...                 ...              ...
167329  68.3   2.4 2023-03-22 12:00:00             20.1
167330  40.4  -4.5 2023-03-22 12:00:00            292.2
167331  56.6  20.7 2023-03-22 12:00:00            232.5
167332  56.6  12.0 2023-03-22 12:00:00            262.6
167333  75.8  34.8 2023-03-22 12:00:00            152.7

[167334 rows x 4 columns]

In [22]:
#export:
WD.to_csv('FINAL_WIND_DIRECTION_FOR_MAP.CSV')